<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.samples.apps.ledtoggler" >

    <!-- Weave Manager's permissions. -->
    <!-- Allows applications to access information about networks -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Allows applications to access information about Wi-Fi networks -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Allows request the OS to get accounts data -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Permission to connect to internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Allows applications to read the sync stats -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- Allows an application to request authtokens from the AccountManager -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- Allows an application to read sync settings -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <!-- Allows applications to write the sync settings -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- End of Weave Manager's permissions. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- End of Weave scanner's permissions. -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LedActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name="com.google.android.apps.weave.gcd.db.GcdContentProvider"
            android:authorities="com.weaveeap.authority"
            android:exported="false" />

        <service
            android:name="com.google.android.apps.weave.gcd.sync.GcdSyncService"
            android:exported="true"
            android:label="@string/gcd_sync_service_title" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

    </application>

</manifest>
